<div class="sidebar-card project-card-wrapper">
  <div class="card-header">
    <i class="fas fa-book-open"></i>
    <h3 class="card-title">学习资源</h3>
  </div>
  <div class="project-list">
    <div class="project-item">
      <div class="project-icon">
        <i class="fas fa-code"></i>
      </div>
      <div class="project-info">
        <h4><a href="https://github.com/Supowe" target="_blank">GitHub</a></h4>
        <p>我的代码仓库，记录学习历程</p>
        <div class="project-tags">
          <span>代码</span>
          <span>项目</span>
        </div>
      </div>
    </div>
    <div class="project-item">
      <div class="project-icon">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="project-info">
        <h4><a href="https://leetcode.com" target="_blank">LeetCode</a></h4>
        <p>算法练习，提升编程能力</p>
        <div class="project-tags">
          <span>算法</span>
          <span>刷题</span>
        </div>
      </div>
    </div>
    <div class="project-item">
      <div class="project-icon">
        <i class="fas fa-book"></i>
      </div>
      <div class="project-info">
        <h4><a href="https://www.runoob.com" target="_blank">菜鸟教程</a></h4>
        <p>前端技术学习入门教程</p>
        <div class="project-tags">
          <span>教程</span>
          <span>学习</span>
        </div>
      </div>
    </div>
  </div>
</div>